body {
    background-color: aqua;
}
img {

    max-width: 100%;
    height: auto;
    width: 400px;
    border-radius: 100%;
}
.image-container {
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
    color: hotpink;
}